@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

/* Fluid typography */
@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}